*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
body{
	background-color:  black!important;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative

}

button{
	background-color: #76b800;
	color: white;
	padding: 10px 15px;
	border: none;
} 

/* Sticky Navbar */


.sticky.is-sticky {
	 
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
 z-index: 2000;
  width: 100%;
}







/*Actual css */

/*first nav css */

.first-nav{
	background-color: white;
}
/*first nav css end */

/*third nav css */


.third-nav{

	background-color: #171717;

}

/*third nav css end */


.firstsec-style{
	color: white;
	margin:  10% 0;

}

.firstsec-style h1{
	color: #76b800;
	
}


.secondsec-style{
  margin: 8% 0px;
  color: white;
}

.secondsec-style li{
	list-style: none;
}

.secondsec-style a{

	color: #76b800!important;
	
}

.thirdsec-style{
	margin: 8% 0;
	color: white;
}



.vedio-section{
	margin: 8% 0;
}

.fourthsec-style{
	margin: 8% 0;
	color: white;
}

.fourthsec-style a{
	color: #76b800!important;
	
}
.fifthsec-style{
  margin: 8% 0px;
  color: white;
}
 
.card-sec-one{
	margin: 8% 0;

}

.card-sec-one h2{
	color: white;
	text-align: center;
	
}

.card{
	border: none!important;
	text-align: justify!important;
	align-items: center!important;
	background-color:  black!important;
	border: none;

}

.card-body{
	align-items: center;
	border:  none;
	color: white;
	line-break: 1px;


}

.card{
	transition: 0.4s ease;


}

.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.card a{
	color: #76b800!important;
}

.buttonsec{
	align-items: center;
	margin: 8% 0;

}

.buttonsec button{

	background-color:  #76b800!important;
	color: white;
	border:none ;
	font-size: 20px;

}


/*Font Awsome Css start*/
.fontawsome{
	margin: 1% 0;

}

.fontawsome h2{

	color: white;
	font-size: 25px;

}

.fontawsome a{
	color:  #76b800!important;
	font-size: 25px
}
.fontawsome i{
	color:  #76b800!important;
	}

/*Font Awsome Css End*/


/*Support List part css start*/

.support-list{
	margin: 8% 0;
	color: white;

}

.support-list li{
	list-style: none;


}

.support-list a{
	color:  #76b800!important;
	align-items: center;
}

/*Support List part css End*/

/*Subscribe part start*/

.subscribe{
	margin: 8% 0px;
	color: white;
}

.subscribe i{

color: grey;


}

.msgi{
	color:  #76b800!important;
}

.foot{

	padding:  80px 0;
	background-color:white;
	color: grey;

}

.pad{

	padding-right: 170px 

}


